<div class="row-fluid">
  <div class="col-xs-12 col-md-12 col-lg-3 columns">
    <div class="main-l-profile form-container">
      <div class="header"></div>
      <div class="body">
        <a href="profile/index.html">
          <%= image_tag("emy.jpg", alt: "Profile Image", class: "ava") %>
        </a>
        <div class="bottom">
          <h4 class="profile-name">
            <a class="link--name" href="profile/index.html">Louis Hoang</a>
          </h4>
          <p class="description">I wish i was a little bit taller, wish i was a baller, wish i had a girl…&nbsp;also.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 col-lg-6 columns">
    <div class="row-fluid">
      <div class="form-container">
        <textarea class="form-control text-editor" id="message_content" name="message[content]">
        </textarea>
        <div class="message-bottom">
          <button class="btn btn-primary btn-sm btn-padding">Post</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 col-lg-3 columns">
    right
  </div>
</div>
