nav.app-navbar{
  background-color: #3097d1;
  border-color: #1c73a5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: white;
}

nav.app-navbar .navbar-nav > .active > a,
nav.app-navbar .navbar-nav > .active > a:hover,
nav.app-navbar .navbar-nav > .active > a:focus{
  color: #ffffff;
  font-weight: bold;
  background-color: transparent;
}

nav.app-navbar > .container .navbar-brand,
nav.app-navbar .navbar-nav > li > a{
  color: white;
}

nav.app-navbar .search-form{
  margin-top: 10px;
  display: block;
}

nav.app-navbar .search-form .form-group{
  margin-bottom: 0px;
}

.search-form .m-search{
  width: 200px;
  -webkit-transition: width .15s ease-in-out;
  -moz-transition:width .15s ease-in-out;
  -o-transition: width .15s ease-in-out;
  transition: width .15s ease-in-out;
}

.search-form .m-search:focus{
  width: 400px;
}